*.iml
/.idea
/node_modules
android/.gradle
android/local.properties
android/.idea
android/.idea
android/.idea
android/.idea
android/.idea
android/.idea
.DS_Store
android/build
android/captures
.externalNativeBuild
yarn.lock
